<!DOCTYPE html>

<html>
    <head>
        <title>
            List of Pokemon
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
<script src="./js/list.js"></script>
    </head>

    <body>
        <h1>List of Pokemon</h1>
        <h2>{{pokemon}}</h2>
        <img src="./images/pikachu.png" alt="Pikachu">
    </body>
</html>